*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 80vw;
}

h1{
    color: blueviolet;
    text-align: center;
    padding: 25px 0 35px;
}

p{
    color: black;
    text-align: center;
}

main{
    margin-top: 3em;
}

.member{
    background-color: black;
    width: calc(100% / 3 - 25px);
    float: left;
    margin-right: 25px;
    margin-bottom: 30px;
}

img{
    height: 120px;
    float: left;
}

h4{
    font-weight: lighter;
    vertical-align: middle;
}

h5{
    color: cornflowerblue;
    font-weight: lighter;
    vertical-align: bottom;
}

