*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 70vw;
}

h1{
    color: #38328b;
    text-align: center;
    padding: 25px 0 35px;
}

p{
    color: black;
    text-align: center;
}

main{
    margin-top: 3em;
}

.member{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,115,122,1) 100%, rgba(0,212,255,1) 100%);
    width: calc(100% / 3 - 25px);
    float: left;
    margin-right: 25px;
    margin-bottom: 30px;
}

.info{
    padding-top: 15px;
    line-height: 25px;
}

img{
    margin-right: 15px;
    height: 120px;
    float: left;
}

h4{
    font-weight: lighter;
    font-size: smaller;
}

span{
    color: cornflowerblue;
    font-weight: lighter;
    font-size: 12px;   
}

